// codigo reutilizable para contenedores
%estiloContainerDogs {
  margin: 10px auto;
  display: flex;
  padding: 20px 10px;
  justify-content: center;
  flex-direction: column;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// se definen los estilos del contenedor de perritos
.containerDogs {
  @extend %estiloContainerDogs;
  border: 1px solid blue;
  border-radius: 15px;
}

#html {
  text-align: center;
  margin: 0 auto;
  max-width: 1200px;
}
#body {
  margin: 25px auto;
  text-align: center;
  color: black;
}

.fomulario-container {
  text-align: center;
  form {
    padding: 10px;
    input {
      padding: 4px;
      margin: 5px;
      max-width: 200px;
    }
    /*input::placeholder{
      text-align: center;
    }*/
    input[type="submit"]{
      color: white;
      background-color: #1b1b32;
      width: 80px;
    }
  }
}
// estilos get de perritos normal
.contenedor {
  width:70%;
  margin: 15px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.img-perritos {
  margin: 5px 4px;
  width: 190px;
  height: 195px;
  border-radius: 4px;
  text-align: center;
}
// estilos get de perritos favoritos
.containerFavorites{
  position: absolute;
  left: 10px;
  top: 10px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  animation: all 1s ease-in-out;
}
.favoritesDogs{
  margin: 10px auto;
 display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  gap: 6px;
}
// este es el botón del hamburger toggle
#btn{
  position: absolute;
  top: 10px;
  left: 24px;
  font-size:25px;
  &:hover{
    cursor: pointer;
  }
}

.favorites{
  width:50px;
  height: 50px;
  border-radius: 50%;
}




@media(max-width:450px){
  .containerFavorites{
    position: static;
    display: inline-flex;
    flex-direction: row;
  }
  #btn{
    position: static;
    font-size:20px;
  }
}

#icono{
  background-color: #5f5858;
  width:10px;
}
#icono:hover{
  background-color: red;
}

// class para los contenedores - estos manejadores de "estado" de los elementos siempre deben ir al final, por el css
.visible{
  display: flex;
  
}
.hidden{
  display: none;
}