// codigo reutilizable para contenedores
%estiloContainerDogs {
  margin: 10px auto;
  display: flex;
  padding: 20px 10px;
  justify-content: center;
  flex-direction: column;
}

// class para los contenedores
.visible{
  display: flex;
}
.hidden{
  display: none;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// se definen los estilos del contenedor de perritos
.containerDogs {
  @extend %estiloContainerDogs;
  border: 1px solid blue;
  border-radius: 15px;
}

html {
  margin: 0 auto;
  max-width: 900px;
}
body {
  text-align: center;
}

.fomulario-container {
  text-align: center;
  form {
    padding: 10px;
    input {
      padding: 4px;
      margin: 5px;
    }
    input[type="submit"]{
      background-color: #00bcd4;
    }
  }
}
// estilos get de perritos normal
.contenedor {
  width:70%;
  margin: 15px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.img-perritos {
  margin: 5px 4px;
  width: 160px;
  height: 168px;
  border-radius: 4px;
  text-align: center;
}
// estilos get de perritos favoritos
.containerFavorites{
  position: absolute;
  left: 0;
  top: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap:10px;
}
.favoritesDogs{
  margin: 15px auto;
 display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  gap: 10px;
}


.favorites{
  width:60px;
  height: 60px;
  border-radius: 50%;
}